/* FONTS */
* {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;
}

/* BODY */
body {
   background-color: #030518;
}

/* NAVBAR LISTA */
.dropdown-menu a:active {
   background-color: #3c4752;
}

.linkedin,
.bi-linkedin {
   color: #087bb9;
}

.github,
.bi-github {
   color: #8899A6;
}

.envelope,
.bi-envelope-at,
.file,
.bi-file-earmark-pdf {
   color: #e04444;
}

.whatsapp,
.bi-whatsapp {
   color: #7fffd4;
}

.dowload,
.bi-download {
   color: #fff;
}

/*carousel*/
.carousel-item img {
   margin: auto;
   width: 40em;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*Descrição*/
p,
h2 {
   color: #8899A6;
}

/* CARDS PROJETOS */

.card img {
   width: 330px;
   margin: 1em auto;
}

.card-cor {
   background-color: #072b3f;
   color: #ffffff;
}

.card h5 {
   text-align: center;
   padding: 5px 0px 8px 0px;
   border-top: 1px solid #ffffff48;
}

.card p {
   color: #ffffff;
}

.btverpj {
   border: 1px solid #6BA9B1;
   border-radius: 3px;
   text-decoration: none;
   padding: 5px 30px;
   background-color: #072b3f;
   color: #ffffff;

}

.btverpj:hover {
   background-color: #030518;
   color: #fff;
   border: none;
}

/* BOTÃO VOLTAR AO TOPO */
.btop {
   cursor: pointer;
   position: fixed;
   right: 15px;
   bottom: 15px;
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: 3px solid #c0bebe2c;
   background-color: #072b3f;
}

.dfrase {
   background-color: rgba(0, 0, 0, 0.356);
   height: 100px;
   padding-top: 25px;
   text-align: center;
}

/* SOFT E HARD SKILLS */
.skills,
.hard {
   border-top: 1px solid #fff;
   margin-top: 50px;
   padding-top: 20px;
}


/* SOFT SKILLS */
.border-skills {
   border: 1px solid #c0bebe2c;
   border-radius: 5px;
   margin: 2px;
}

.border-skills:hover {
   background-color: #087bb917;
   transition: 1s;
   border-radius: 50px;
}

/* HARD SKILLS */
.ico-skills {
   width: 80px;
   height: 80px;
   padding: 5px;
   margin: 10px;
   background-color: #8899A6;
   border-radius: 15px;
}

.ico-skills:hover {
   background-color: #4b575f;
   transition: 1s;
}

/*SOBRE*/
.div-sobre {
   border-top: 2px solid #4b4f538c;
   margin-top: 20px;
}

.text-sobre {
   color: #8899A6;
}

/* FOOTER */
.footer {
   text-align: center;
   color: #fff;
   padding: 13px;
}