@charset "utf-8";

:root{
   --preto-rico: #0B0E17;
   --cor01: #10212A;
}
/*
#topo{
   background-color: var(--cor01);
   color: white;
}*/

#foto{
   border-radius: 30px;
   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.356);
}

#btverpj{
   border-radius: 0;
   text-decoration: none;
   padding: 4px;
   background-color: #2B3035;
   color: white;
   padding: 7px 18px;
}
#btverpj:hover{
   background-color: #4B4F53;
   color: #fff;
  
}

 .btop {
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid white;
    color: red;
 }

 .dfrase {
    background-color: rgba(0, 0, 0, 0.356);
    height: 100px;
    padding-top: 25px;
    text-align: center;
 }

 